@page "/"

<PageTitle>我的项目</PageTitle>

<div class="col">
    <div class="row">
        <div class="col">
            <Button Color="Color.Primary" Clicked="@ShowModal">新增项目</Button>
        </div>
    </div>
  @*项目列表*@
    <div class="row mt-3 g-1">
    @foreach (var item in Projects)
    {
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">@item.DisplayName</h5>
                  <p class="card-text">
            @item.Name
                  </p>
                  <p class="card-text">
                      路径:
                      <span>@item.Path</span>
                  </p>
                  <a asp-page="/Workspace/Index" asp-route-id="@item.Id" class="btn btn-primary">进入工作台</a>
              </div>
          </div>
    }
    </div>
</div>

<!-- Modal -->
<Modal @bind-Visible="@modalVisible">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>新增项目</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <EditForm Model="@ProjectForm" OnValidSubmit="@Submit">
                <Validation Validator="ValidationRule.IsNotEmpty">
                    <Field>
                        <FieldLabel>项目名称</FieldLabel>
                        <TextEdit Placeholder="为你的项目命名" @bind-Text="ProjectForm.DisplayName">
                            <Feedback>
                                <ValidationError>必填</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>
                <Validation Validator="ValidationRule.IsNotEmpty">
                    <Field>
                        <FieldLabel>项目路径</FieldLabel>
                        <TextEdit Placeholder="Enter填写sln文件的完整路径" @bind-Text="ProjectForm.Path">
                            <Feedback>
                                <ValidationError>必填</ValidationError>
                            </Feedback>
                        </TextEdit>
                    </Field>
                </Validation>

            </EditForm>

        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">取消</Button>
            <Button Color="Color.Primary" Type="ButtonType.Submit" Clicked="@Submit">确认</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
  public List<Project> Projects { get; set; } = new List<Project>();
  public AddProjectForm ProjectForm { get; set; }

  private bool modalVisible = false;

  public Index()
  {
    ProjectForm = new AddProjectForm
      {
        DisplayName = "",
        Path = ""
      };
  }

  protected override Task OnInitializedAsync()
  {
    return base.OnInitializedAsync();
  }

  private Task ShowModal()
  {
    modalVisible = true;

    return Task.CompletedTask;
  }

  private Task HideModal()
  {
    modalVisible = false;

    return Task.CompletedTask;
  }

  private void Submit()
  {
    Console.WriteLine("submit");
  }
}